<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />

    <title>HSL - Luminance</title>
    <meta name="author" content="AIS SERVIS, S.R.O" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#FFF" />

    <link href="../wwwroot/css/luminance.min.css" rel="stylesheet" />
</head>

<body>
    <nav>
        <ul>
            <li><a href="../index.html">tint-color() & shade-color()</a></li>
            <li><a href="./darken-lighten.html">lighten() & darken()</a></li>
            <li><a href="./luminance.html" style="text-decoration: underline;">HSL luminance</a></li>
        </ul>
    </nav>
    <main>
        <section class="colors">
            <h1>HSL - Luminance</h1>
            <div class="colors__wrapper">
                <h2>Primary</h2>
                <div class="colors__item bg-primary">#00843D</div>
                <div class="colors__item bg-primary"></div>
                <div class="colors__item bg-primary"></div>
                <div class="colors__item bg-primary"></div>
                <div class="colors__item bg-primary"></div>
                <div class="colors__item bg-primary"></div>
                <div class="colors__item bg-primary"></div>
                <div class="colors__item bg-primary"></div>
                <div class="colors__item bg-primary"></div>
                <div class="colors__item bg-primary"></div>
            </div>

            <div class="colors__wrapper">
                <h2>Secondary</h2>
                <div class="colors__item bg-secondary">#005091</div>
                <div class="colors__item bg-secondary"></div>
                <div class="colors__item bg-secondary"></div>
                <div class="colors__item bg-secondary"></div>
                <div class="colors__item bg-secondary"></div>
                <div class="colors__item bg-secondary"></div>
                <div class="colors__item bg-secondary"></div>
                <div class="colors__item bg-secondary"></div>
                <div class="colors__item bg-secondary"></div>
                <div class="colors__item bg-secondary"></div>
            </div>

            <div class="colors__wrapper">
                <h2>Danger</h2>
                <div class="colors__item bg-danger">#E04E39</div>
                <div class="colors__item bg-danger"></div>
                <div class="colors__item bg-danger"></div>
                <div class="colors__item bg-danger"></div>
                <div class="colors__item bg-danger"></div>
                <div class="colors__item bg-danger"></div>
                <div class="colors__item bg-danger"></div>
                <div class="colors__item bg-danger"></div>
                <div class="colors__item bg-danger"></div>
                <div class="colors__item bg-danger"></div>
            </div>

            <div class="colors__wrapper">
                <h2>Success</h2>
                <div class="colors__item bg-success">#86D295</div>
                <div class="colors__item bg-success"></div>
                <div class="colors__item bg-success"></div>
                <div class="colors__item bg-success"></div>
                <div class="colors__item bg-success"></div>
                <div class="colors__item bg-success"></div>
                <div class="colors__item bg-success"></div>
                <div class="colors__item bg-success"></div>
                <div class="colors__item bg-success"></div>
                <div class="colors__item bg-success"></div>
            </div>

            <div class="colors__wrapper">
                <h2>Info</h2>
                <div class="colors__item bg-info">#4EC3E0</div>
                <div class="colors__item bg-info"></div>
                <div class="colors__item bg-info"></div>
                <div class="colors__item bg-info"></div>
                <div class="colors__item bg-info"></div>
                <div class="colors__item bg-info"></div>
                <div class="colors__item bg-info"></div>
                <div class="colors__item bg-info"></div>
                <div class="colors__item bg-info"></div>
                <div class="colors__item bg-info"></div>
            </div>

            <div class="colors__wrapper">
                <h2>Warning</h2>
                <div class="colors__item bg-warning">#F3B51F</div>
                <div class="colors__item bg-warning"></div>
                <div class="colors__item bg-warning"></div>
                <div class="colors__item bg-warning"></div>
                <div class="colors__item bg-warning"></div>
                <div class="colors__item bg-warning"></div>
                <div class="colors__item bg-warning"></div>
                <div class="colors__item bg-warning"></div>
                <div class="colors__item bg-warning"></div>
                <div class="colors__item bg-warning"></div>
            </div>

            <div class="colors__wrapper">
                <h2>Violet</h2>
                <div class="colors__item bg-violet">#A05EB5</div>
                <div class="colors__item bg-violet"></div>
                <div class="colors__item bg-violet"></div>
                <div class="colors__item bg-violet"></div>
                <div class="colors__item bg-violet"></div>
                <div class="colors__item bg-violet"></div>
                <div class="colors__item bg-violet"></div>
                <div class="colors__item bg-violet"></div>
                <div class="colors__item bg-violet"></div>
                <div class="colors__item bg-violet"></div>
            </div>

            <div class="colors__wrapper">
                <h2>Orange</h2>
                <div class="colors__item bg-orange">#F68D2E</div>
                <div class="colors__item bg-orange"></div>
                <div class="colors__item bg-orange"></div>
                <div class="colors__item bg-orange"></div>
                <div class="colors__item bg-orange"></div>
                <div class="colors__item bg-orange"></div>
                <div class="colors__item bg-orange"></div>
                <div class="colors__item bg-orange"></div>
                <div class="colors__item bg-orange"></div>
                <div class="colors__item bg-orange"></div>
            </div>

            <div class="colors__wrapper">
                <h2>Grey</h2>
                <div class="colors__item bg-grey">#999999</div>
                <div class="colors__item bg-grey"></div>
                <div class="colors__item bg-grey"></div>
                <div class="colors__item bg-grey"></div>
                <div class="colors__item bg-grey"></div>
                <div class="colors__item bg-grey"></div>
                <div class="colors__item bg-grey"></div>
                <div class="colors__item bg-grey"></div>
                <div class="colors__item bg-grey"></div>
                <div class="colors__item bg-grey"></div>
            </div>

            <div class="colors__wrapper">
                <h2>Grey-blue</h2>
                <div class="colors__item bg-grey-blue">#7E899F</div>
                <div class="colors__item bg-grey-blue"></div>
                <div class="colors__item bg-grey-blue"></div>
                <div class="colors__item bg-grey-blue"></div>
                <div class="colors__item bg-grey-blue"></div>
                <div class="colors__item bg-grey-blue"></div>
                <div class="colors__item bg-grey-blue"></div>
                <div class="colors__item bg-grey-blue"></div>
                <div class="colors__item bg-grey-blue"></div>
                <div class="colors__item bg-grey-blue"></div>
            </div>
        </section>
    </main>
    <script type="text/javascript" src="wwwroot/js/init.js" defer></script>
</body>

</html>